APP_NAME=Plant Disease Classifier API
FRONTEND_ORIGIN=http://localhost:5173
ADDITIONAL_CORS_ORIGINS=http://127.0.0.1:5173,http://localhost:3000,http://127.0.0.1:3000
ALLOW_ALL_CORS=true

ML_MODEL_FILENAME=best_ml_model.joblib
ML_METADATA_FILENAME=ml_metadata.json
LABEL_ENCODER_FILENAME=label_encoder.joblib

DL_MODEL_FILENAME=tensorflow_leaf_disease_model.keras
DL_METADATA_FILENAME=dl_metadata.json
